#espaciado {

    margin: 0px 20px 0px 20px ;
    text-align: center;
    color: white ;
    &:hover {

        color: darkred ;
    }   
}

.colorNavbar {

    background-color: black;
    
}

#hamburguesa {

    background-color: white;
}

